* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: hsl(0,0%,95%);
    font-family: Sora, sans-serif;
}

body {
    margin: 0;
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
}

h3 {
    font-size: 2.5rem;
}

.mobile {
    display: none;
    width: 0;
}

header {
    margin: 0;
    min-height: 4rem;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
}

header #logocontainer {
    min-width: 300px;
    margin: auto 0.5rem;
    position: relative;
    float: left;
    height: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#logocontainer img {
    max-height: 100%;
    width: auto;
}

#logocontainer span {
    font-size: 1.4rem;
}

#oncampus, #online, #logincontainer {
    display: none;
}

header nav {
    min-width: 400px;
    float: right;
}

header nav a {
    min-width: 100px;
    text-decoration: none;
    margin: auto 0.5rem;
}

.clearfix {
    min-height: 4rem;
}

.banner * {
    margin: 0;
}

.banner {
    background-color: lightgrey;
    color: hsl(0,0%,30%);
    overflow: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 2rem 1.5rem;
}

.banner .img-container {
    width: 60%;
    min-width: 480px;
    float: left;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner .start {
    width: 40%;
    min-width: 350px;
    padding: 1%;
    padding-right: 2%;
    padding-left: 1.5%;
}

.banner h2 {
    padding: 2rem 0;
    line-height: 1;
    font-size: 3rem;
}

.banner p {
    padding: 1rem 0;
    font-weight: bold;
}

.banner button {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 2rem 1rem 2rem 1rem;
    font-size: 1.75rem;
    width: 100%;
    transition: all 0.6s linear;
}

.banner button:hover {
    color: black;
    font-weight: 600;
    font-size: 2rem;
}

.info * {
    margin: 0;
}

.info {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    clear: left;
    width: 100%;
}

.info section {
    padding: 2rem 1.5rem;
    width: 60%;
    color: hsl(0,0%,30%);

}

.info section .img-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.info img {
    max-width: 100%;
    height: auto;
}

.info blockquote {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-style: italic;
    font-size: 1.2rem;
}

.info cite {
    font-size: 1.2rem;
    font-style: normal;
}

.info aside {
    padding: 2rem 0;
    border-left: solid 1px lightgray;
    width: 40%;
    min-width: 350px;
}

.info aside .section {
    transition: background-color 0.8s ease-in-out 0.1s;
    display: flex;
}

.info aside .img-container {
    min-width: 35%;
    overflow: hidden;
    display: inline-block;
    padding: 1rem;
}

.info aside .description {
    width: 65%;
    padding: 2%;
}

.info a {
    text-decoration: none;
    display: block;
}

.info h4 {
    padding-top: 5%;
    margin-bottom: 0;
    line-height: 1;
}

.info span {
    display: block;
    margin: 0.5rem 0;
}

.top {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2px;
}

.middle {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bottom {
    margin-top: 2px;
    border-top: 1px solid lightgray;
}

.info .section:hover {
    background-color: lightgray;
}

.courses {
    background-color: lightgray;
    text-align: center;
    padding: 2rem 3.5rem;
    color: dimgray;
    margin: 0 auto;
    width: 100%;
}

.gallery {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery .sectioncontainer {
    width: 33%;
    min-width: 225px;
    padding: 0 1rem 2rem 1rem;
}

.gallery .section {
    width: 100%;
    background-color: white;
}

.gallery .description {
    padding: 1rem;
}

.gallery .img-container {
    width: 100%;
    overflow: hidden;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.gallery h4 {
    font-weight: 600;
    font-size: 1.5rem;
}

.gallery span {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.thesis {
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
}

.thesis h2 {
    margin-top: 0;
    padding: 2rem 0 0 0;
    line-height: 1.4;
    font-size: 3rem;
}

.thesis .content {
    display: flex;
    flex-wrap: wrap;
}

.info section .video-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.info video {
    max-width: 100%;
    height: auto;
}

.thesis aside, .thesis .section {
    border: 0px;
}

footer {
    border: 1px solid lightgrey;
    padding: 1rem 1.5rem 3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: dimgray;
}

footer nav a {
    margin: auto 0.5rem;
    text-decoration: none;
    color: dimgray;
}


@media only screen and (max-width: 500px) {
    #oncampus, #online, #logincontainer {
        display: inline-block;
    }

    header {
        text-align: center;
        justify-content: space-around;
    }

    header #logocontainer {
        min-width: 0px;
        float: none;
    }

    header nav, #logocontainer span {
        width: 0px;
        display: none;
        position: fixed;
    }   

    .banner {
        flex-direction: column;
        padding: 0;
        min-width: 0;
        width: 100%;
    }

    .banner div {
        width: 100%;
        min-width: 0;
    }

    .banner * {
        margin: 0;
        padding: 0;
    }

    .banner .img-container {
        min-width: 0;
        width: 100%;
    }

    .banner .start {
        padding: 2rem 1rem;
        width: 100%;
        min-width: 0;
    }

    .banner .start h2 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    .banner .start p {
        margin: 2rem 0 1.5rem 0;
    }

    .info section {
        display: none;
        width: 0;
    }

    .info aside {
        display: none;
        width: 0;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .info .section {
        width: 100%;
        padding: 1rem 1rem 4rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .info .section .img-container {
        min-width: 100%;
        padding: 0;
        min-height: 0;
    }

    .info img {
        width: 100%;
        height: auto;
    }

    .info .section .description {
        padding: 1rem 1rem 0 1rem;
    }

    .info .description h4 {
        font-size: 1.75rem;
        color: hsl(0,0%,30%);
    }

    .info .description span {
        color: dimgray;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .info a {
        color: rgb(44, 110, 209);
    }

    .info .mobile .bottom {
        padding-bottom: 2rem;
    }

    .courses h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0;
    }

    .courses {
        padding: 2rem 1rem;
        background-color: transparent;
        width: 100%
    }

    .gallery {
        display: none;
        width: 0;
        height: 0;
    }

    .courses button {
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        background-color: lightgray;
        color: hsl(0,0%,30%);
        padding: 1rem 0 1.5rem 1rem;
        text-align: left;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .thesis section {
        padding: 0;
        display: block;
        width: 100%;
    }

    .thesis h2 {
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    .thesis section .video-container {
        margin: 0;
    }

    .thesis {
        padding: 0 0 1.5rem 0;
    }

    .thesis section h3, .thesis section blockquote {
        display: none;
        width: 0;
    }

    footer {
        font-size: 0.75rem;
        padding: 1rem;
    }

    footer nav {
        display: none;
        width: 0;
    }
}